/* GLOBAL CSS */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #101014;
    color: white;
}
.header-left {
    display: flex;
    flex-direction: column;
}
.header-left h1 {
    margin: 0;
    font-size: 3em;
}
.header-left h2 {
    margin: 0;
    font-size: 1.5em;
    font-weight: lighter;
    color: #b4b4b4;
}
.header-right {
    display: flex;
    gap: 30px;
}
.header-right a {
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
.container {
    padding: 50px;
    max-width: 1920px;
    margin: 0px 7%;
}
.portfolio-header, .education-skills-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
.portfolio-header h2, .education-skills-header h2 {
    font-size: 6em;
    font-weight: bold;
    margin: 0;
}
.highlighted-portfolios {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    color: #333;
    margin-left: auto;
}
.highlighted-portfolios a {
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    color: #333;
    margin-left: auto;
}


.projects {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.project {
    width: 30%;
    text-align: center;
    margin-bottom: 20px;
}
.project img {
    width: 100%;
    background-color: grey;
    height: 300px;
}
.project h3 {
    font-size: 1.2em;
    margin: 10px 0;
}
.project p {
    font-size: 0.9em;
    color: #666;
    text-align: justify;
}
.skills-section {
    margin-top: 100px;
}
.skills-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.skills-category {
    flex: 1;
    min-width: 250px;
    margin-bottom: 20px;
}
.skills-category h3 {
    font-size: 2em;
    font-weight: bold;
    margin: 20px 0 10px;
}
.skills-list {
    list-style-type: none;
    padding: 0;
}
.skills-list li {
    margin-bottom: 10px;
    font-size: 1em;
    color: #333;
}
.skills-list ul {
    list-style-type: disc;
    margin-left: 20px;
}
.skills-list li strong {
    color: #000;
}
.skills-list li em {
    font-style: italic;
}
.skills-section p {
    font-size: 1em;
    color: #333;
    margin: 5px 0;
}
.heading-three{
    font-size: 1em;
    color: #333;
}

/* CARDS */

.card {
    width: 30%;
    background-color: #fff;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.025);
}

.card-image {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.card-content {
    padding: 15px;
}

.card-title {
    font-size: 1.5em;
    margin: 0 0 10px;
}

.card-description {
    font-size: 1em;
    color: #666;
    margin: 0 0 20px;
}

.fadein {
    animation: fadeIn 1s ease-in-out;
}

.card-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #444;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.2s;
}

.card-button:hover {
    background-color: #222;
}

/* SKILLS */

.skills-container {
    display: flex;
    /*     flex-direction: column;  */
    gap: 10px;
}

.skill-button {
    display: flex;
    width: 300px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: linear-gradient(135deg, #ff87ab, #ffc4d6);
}

.logo-section {
    background-color: #333;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skill-logo {
    width: 35px;
    height: 35px;
}

.text-section {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skill-name {
    font-size: 1em;
    color: #333;
    font-weight: bold;
}

.skill-button:hover {
    background: linear-gradient(135deg, #ffc4d6, #ff87ab);
}

/* ////         EDUCATION          //// */

.education-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 150px;
    margin: 30px 0;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
    transition: transform 0.3s ease, max-height 0.3s ease;
    cursor: pointer;
    overflow: hidden;
}

.education-section:hover {
    transform: scale(1.02);
}

.education-details {
    width: 80%;
}

.university-name {
    font-size: 1.8em;
    margin: 0 0 10px;
    color: #333;
}

.university-location,
.time-frame,
.degree {
    font-size: 1.2em;
    margin: 5px 0;
    color: #666;
}

.education-logo {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    max-width: 100%;
    max-height: 100%;
}



.education-section.expanded .additional-info {
    max-height: 200px; /* Adjust according to the content size */
    opacity: 1;
}

/*  ///         KEYFRAMES           ///     */

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 768px) {
    .projects {
        flex-direction: column;
        align-items: center;
        margin: 10px -50px;
    }
    .project {
        width: 100%;
    }
    .portfolio-header, .education-skills-header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 10px;
        margin-bottom: 20px;
    }
    .portfolio-header h2, .education-skills-header h2 {
        font-size: 5em;
        margin: 10px -50px;
    }
    .portfolio-header a, .education-skills-header a {
        font-size: 1.5em;
        font-weight: bold;
        text-decoration: none;
        color: #333;
        margin: 10px -50px;
    }
    .skills-container {
        flex-direction: column;
    }
}